section, #city {
    border: 0;
    margin: 0;
    padding: 0;
}

#input, #week {
    display: flex;
}

input {
    flex: 5 5;
}

#current, #week div {
    background: var(--cloudy);
    border-color: black;
}

#search, #fiveday {
    border-color: var(--teal);
}

#city {
    flex: 2 2;
}

h2, #city h1, #city p {
    text-align: left;
}



p, #current h1 {
    background: 0;
    border: 0;
}

p {
    font-size: 12pt;
}

image {
    max-height: 10px;
}
