:root {
    --skyBlue: rgb(135, 168, 179);
    --purple: rgb(83, 53, 99);
}

section, #city, #week, #input {
    border: 0;
    margin: 0;
    padding: 0;
}

#week {
    flex-wrap: wrap;
    justify-content: center;
}

#week div {
    flex: 0 0;
}

p {
    font-size: 12pt;
}

input {
    flex: 5 5;
}

img {
    background: var(--skyBlue);
}

#input, #week {
    display: flex;
}

#searchit {
    border-color: var(--teal);
}

#current, #week div {
    background: var(--cloudy);
    border-color: black;
}

#city {
    flex: 3 3;
}

h2, #city h1, #city p {
    text-align: left;
}

p, #current h1 {
    background: 0;
    border: 0;
}

#red {
    border-color: var(--red);
}

#fiveday {
    border-color: var(--yellow);
}

.historycount {
    display: flex;
    flex-direction: column-reverse;
    border: 0;
    margin: 0;
    padding: 0;
}

.purple {
    border: 2px solid var(--purple);
    margin: 4px;
    padding: 4px;
}

@media screen and (max-width: 980px) {
    section {
        display: block;
    }
}