/* Creates a thin border and even spacing around every element */
* {
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
    font-family: eurostile, sans-serif;
    font-weight: normal;
}
/* Color variables defined */
:root {
    --mint: rgb(0, 200, 100);
    --cloudy: rgba(256, 256, 256, 0.5);
    --blue: rgb(0, 0, 64);
    --teal: rgb(0, 80, 80);
}
/* Sets initial parameters around each type of tag used in the html doc */
html {
    background-color: rgb(34, 42, 46);
}

body {
    border-color: var(--blue);
}

header {
    display: flex;
    border-color: var(--teal);
}

section {
    display: flex;
    border-color: var(--teal);
}

div,
address {
    align-items: center;
    border-color: green;
    flex: 1 1;
}

footer {
    border-color: var(--teal);
    text-align: center;
}

address {
    justify-content: space-evenly;
}

address,
footer {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 24pt;
    background-color: var(--mint);
}

h2 {
    font-size: 18pt;
}

p {
    font-size: 16pt;
    background: var(--cloudy);
}

a {
    text-decoration-line: none;
}
/* Specifies text attributes and layout for individual elements */
#image {
    display: flex;
    justify-content: flex-end;
    background-image: url("solarpunk.png");
}

#image h1 {
    margin-top: 100px;
    background-color: var(--cloudy);
}

.title {
    flex: 0.3 0.3;
    text-align: right;
}

.title h1 {
    font-size: 4vw;
}

#work h2 {
    flex: 1 1;
}

#work a {
    font-weight: normal;
}

/* Differentiates the first projects from the others with a substantial height difference */
#work .small h2 {
    height: 300px;
}

#work .big h2 {
    height: 150px;
}
/* Places a gradient image on certain elements when they are hovered over with the cursor */
.content a:hover,
#shortcuts a:hover,
footer a:hover {
    color: white;
    background-image: linear-gradient(var(--mint),
        var(--blue));
    text-shadow: 2px 2px black;
}

address h2, address a, footer a {
    background-color: var(--cloudy);
}

address a,
footer a {
    font-weight: normal;
}

#name {
    text-align: right;
    flex: 1 1;
}

#name h1 {
    font-size: 4vw;
    border-color: var(--mint);
    color: green;
    background-color: var(--blue);
}

#shortcuts {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 2 2;
}

#shortcuts a {
    background-color: var(--cloudy);
    font-weight: normal;
}

.big, .small {
    border-color: var(--mint);
    display: flex;
    flex-wrap: wrap;
}

#work a {
    flex: 0.5 0.5;
    background-color: var(--cloudy);
}
/* Placeholder images for future projects */
#wow {
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/000/561/903/large/derek-weselake-backda.jpg?1426830042");
}


#project {
    background-image: url("https://www.abc.net.au/reslib/201105/r775562_6639716.jpg");
}

#code {
    background-image: url("https://thumbs.dreamstime.com/z/super-trees-gardens-bay-singapore-105551731.jpg");
}

#pollution {
    background-image: url("https://i.pinimg.com/originals/7f/1e/0d/7f1e0d2ac3bd87d6f57f73492d3bf6d1.jpg");
}

#spicy {
    background-image: url("https://i.pinimg.com/originals/10/33/b7/1033b72b0d4c935ac1151d8cecddac8e.jpg");
}

a {
    font-size: 18pt;
    font-weight: bold;
}

#me, footer a {
    flex: 1 1;
}
/* Link text is made black */
.content a,
footer a,
#shortcuts a {
    color: black;
}

/* Organization of elements changes at varying screen widths */
@media screen and (max-width: 980px) {
    header, section, #work {
        display: block;
    }
    #name {
        text-align: center;
    }
    #shortcuts {
        justify-content: center;
    }
    .title {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .content, .big, address {
        display: block;
    }

    address a {
        display: block;
    }

    #image {
        justify-content: center;
    }
    #work .small h2 {
        height: 150px;
    }
}