* {
    border: 2px solid black;
    border-radius: 10px;
    margin: 4px;
    padding: 4px;
    text-align: center;
}

:root {
    --grey: rgb(32, 32, 40);
    --blue: rgb(0, 0, 64);
    --teal: rgb(0, 80, 80);
    --green: rgb(0, 128, 64);
    --mint: rgb(0, 192, 96);
    --cloudy: rgba(255, 255, 255, 0.5);
    --pastelGreen: rgba(144, 223, 160, 0.75);
    --pastelBlue: rgba(130, 185, 252, 0.75);
}

html {
    background: var(--grey);
    border: 0;
}

body {
    border-color: var(--blue);
}

header {
    display: flex;
    border-color: var(--green);
}

footer {
    border-color: rgb(128, 128, 64);
}

div {
    display: block;
    border: 0;
}

h1,
h2,
p,
button {
    background-color: var(--cloudy);
}

#bold {
    border-color: rgb(0,96, 128);
}

#content {
    border-color:rgb(128, 0, 64);
    display: flex;
    flex-direction: column;
}

header h1 {
    flex: 1 1;
    font-size: 12pt;
    font-weight: normal;
}

#highscores {
    text-align: left;
}

#time {
    text-align: right;
}

#content h2 {
    font-size: 16pt;
    font-weight: normal;
}
